footer {
    background-color: #eee;
    color: #666;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media {
    display: flex;
  }
  
  .social-media a {
    margin-right: 10px;
    color: #666;
  }
  
  .author {
    font-size: 14px;

  }
  .title{
    font-weight:100;
  }
  